<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="AdressTypService.AdressTypService" value="http://localhost:64115/AdressTypService.asmx"/>
    <add key="TelefonService.TelefonService" value="http://localhost:64115/TelefonService.asmx"/>
    <add key="GatuAdressService.GatuAdressService" value="http://localhost:64115/GatuAdressService.asmx"/>
    <add key="PersonService.PersonService" value="http://localhost:64115/PersonService.asmx"/>
    <add key="MailService.MailService" value="http://localhost:64115/MailService.asmx"/>
    <add key="AdressService.AdressService" value="http://localhost:64115/AdressService.asmx"/>
  <add key="AdressVariantService.AdressVariantService" value="http://localhost:64115/AdressVariantService.asmx"/>
  </appSettings>
</configuration>